/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
}

.ryu {
    width: 659px;
    height: 494px;
}

.hadouken {
    background-image: url(../images/hadouken.gif);
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 165px;
    left: 585px;
}

.hadouken-bubble {
    background-image: url(../images/hadouken.jpg);
    width: 200px;
    height: 156px;
    display: none;
    float: left;
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 550px;
}

.ryu-ready,
.ryu-still,
.ryu-throw,
.ryu-cool {
    width: 659px;
    height: 494px;
    display: none;
    background-repeat: no-repeat;
}

.ryu-ready {
    background-image: url(../images/ryu-ready-position.gif);
}

.ryu-still {
    background-image: url(../images/ryu-standing-still.png);
}

.ryu-throw {
    background-image: url(../images/ryu-throwing-hadouken.png);
}

.ryu-cool {
    background-image: url(../images/ryu-cool.gif);
}

.how-to {
    float: right;
    text-align: justify;
    line-height: 50px;
    display: block;
    width: 50%;
    margin-right: 10rem;
    font-size: 24px;
}

.how-to h1 + h1 {
    margin-left: 20rem;
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throw,
.ryu-cool {
    background-repeat: no-repeat;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
